<%- include('./includes/head') %>
<%- include('./includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-4">
      <h1 class="text-center fw-bold">AGENDA</h1>
      <p class="text-center lead">Seus contatos estão abaixo.</p>

      <%- include('./includes/msgs') %>

      <div class="responsive-table">
        <table class="table table-hover my-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>LastName</th>
              <th>Phone</th>
              <th>E-mail</th>
            </tr>
          </thead>
          <% contacts.forEach(contact => { %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.lastName %></td>
              <td><%= contact.phone %></td>
              <td><%= contact.email %></td>
            </tr>
          <% }); %>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('./includes/footer') %>